h1 {
	color: #5E9DC8;
	text-align: center;
}

h2 {
	color: DarkGray;
}

.panel-container {
	padding-top: 50px;
}

/* unvisited link */
a:link {
    color: DarkGray;
}

/* visited link */
a:visited {
    color: DarkGray;
}

/* mouse over link */
a:hover {
    color: DarkGray;
}

/* selected link */
a:active {
    color: DarkGray;
}